footer {
    background-color: #353535;
    padding: 20px;
    width: 100%;
    position: relative;
    z-index: 100;

    @include large-screen {
        text-align: center;
    }

    @include laptop-only {
        text-align: center;
    }

    h2 {
        font-family: 'Shrikhand', cursive;
        font-size: 25px;
        font-weight: 400;

        color: #FFF;
    }

    ul {
        list-style-type: none;
        margin-top: 15px;

        li{
            margin: 10px 0;

            a {
                color: #fff;
                text-decoration: none;
    
                &:hover {
                    text-decoration: underline;
                }
        
                i {
                    font-size: 12px!important;
                    margin-right: 10px;
                }
            }
        }
    }
}