*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-color: #f6f6f6;
}

body {
  font-family: "Roboto", sans-serif;
  color: #353535;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
  color: #000;
}

.menu__infos-title h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
}

.btn {
  padding: 15px 20px;
  border-radius: 35px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.5s;
  box-shadow: 0 5px 10px -5px gray;
  background: linear-gradient(to top, #9356DC, #b25cdc, #cf64dc, #e86edb, #ff79db);
}
.btn:hover {
  box-shadow: 0 10px 10px -5px gray;
  background: linear-gradient(to top, #9b63df, #b869df, #d371df, #ea7bde, #ff88df);
}

.liked {
  font-size: 25px;
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.liked i {
  z-index: 1000;
}
.liked i:nth-of-type(1) {
  position: relative;
  z-index: 2;
}
.liked i:nth-of-type(1):hover {
  animation: growRegular 0.5s forwards;
}
.liked i:nth-of-type(1):hover + i {
  animation: growSolid 0.5s forwards;
}
.liked i:nth-of-type(2) {
  position: absolute;
  transform: scale(0);
  background: linear-gradient(to top, #9356DC, #b25cdc, #cf64dc, #e86edb, #ff79db);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes growSolid {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes growRegular {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  70% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
header {
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 5px 10px -5px gray;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
header a {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: #000;
  font-size: 20px;
}
header img {
  width: 200px;
  margin: auto;
}
header.header--sticky {
  position: sticky;
  top: 0;
  z-index: 99;
}

.container {
  width: 100%;
}
.container .section__title {
  margin-bottom: 20px;
}

.menu {
  position: relative;
}
.menu__image {
  height: 250px;
  overflow: hidden;
}
.menu__image img {
  width: 100%;
  position: fixed;
}
.menu__infos {
  background-color: #F6F6F6;
  position: relative;
  top: -80px;
  border-radius: 35px 35px 0 0;
}
.menu__infos-title {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
}

footer {
  background-color: #353535;
  padding: 20px;
  width: 100%;
}
footer img {
  width: 100px;
}
footer ul {
  list-style-type: none;
  margin-top: 15px;
}
footer ul li {
  margin: 10px 0;
}
footer ul li a {
  color: #fff;
  text-decoration: none;
}
footer ul li a:hover {
  text-decoration: underline;
}
footer ul li a i {
  font-size: 12px !important;
  margin-right: 10px;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  font-weight: bold;
  font-size: 18px;
  background-color: #eaeaea;
  position: relative;
  z-index: -1;
}
.location i {
  position: relative;
  right: 15px;
}

.explorer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  text-align: center;
  font-size: 18px;
}
.explorer .explorer__title {
  margin-bottom: 10px;
}
.explorer .explorer__desc {
  margin-bottom: 40px;
  color: gray;
}

nav {
  background-color: #fff;
  padding: 40px 20px;
}
nav .section__content {
  display: flex;
  flex-flow: wrap row;
}
nav .section__content .section__item {
  padding: 20px;
  background-color: #f6f6f6;
  width: 100%;
  border-radius: 20px;
  margin: 10px 0;
  box-shadow: 0 10px 10px -5px #d3d3d3;
  position: relative;
  font-size: 15px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
}
nav .section__content .section__item .step {
  background-color: #9356DC;
  padding: 4px 8px;
  color: #fff;
  border-radius: 50%;
  font-size: 13px;
  position: absolute;
  left: -10px;
}
nav .section__content .section__item i {
  color: gray;
  margin: 0 15px 0 10px;
}
nav .section__content .section__item--active {
  background-color: rgba(147, 86, 220, 0.2);
}
nav .section__content .section__item--active i {
  color: #9356DC !important;
}

section.restaurants {
  padding: 40px 20px;
}
section.restaurants .card {
  width: 100%;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 5px 10px -5px gray;
  margin: 20px 0;
}
section.restaurants .card a {
  text-decoration: none;
  color: inherit;
}
section.restaurants .card__image {
  height: 180px;
  overflow: hidden;
}
section.restaurants .card__image img {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
section.restaurants .card__infos {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 15px 20px 15px 10px;
}
section.restaurants .card__infos div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.restaurants .card__infos h4 {
  font-size: 18px;
  margin-bottom: 5px;
}
section.restaurants .card .new {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #99E2D0;
  color: #2c9c81;
  font-weight: bold;
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 3px;
}

/*# sourceMappingURL=style.css.map */
