/* Error: expected "{".
 *    ,
 * 16 |         z-index: 1000;
 *    |                      ^
 *    '
 *   sass/components/_liked.scss 16:22  @import
 *   sass/main.scss 10:9                root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 16 \2502          z-index: 1000;\a    \2502                       ^\a    \2575 \a   sass/components/_liked.scss 16:22  @import\a   sass/main.scss 10:9                root stylesheet';
}
