.btn {
    padding: 15px 20px;
    width: max-content;
    border-radius: 35px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: all .5s;
    @include boxShadow;
    @include linearGradient;

    &:hover {
        @include boxShadow(10px);
        @include linearGradient(lighten($color-primary, 3));
    }
}