#preloader {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    animation: load forwards;
    animation-duration: 1s;
    animation-delay: #{randomNum(1, 3)}s;

    #loader {
        width: 150px;
        height: 150px;
    
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: $color-primary;
    
        animation: spin 2s linear infinite;

        &::before {
            content: "";
        
            position: absolute;
            top: 5px;
            left: 5px;
            right: 5px;
            bottom: 5px;
        
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: $color-secondary;
        
            animation: spin 3s linear infinite;
        }

        &::after {
            content: "";
        
            position: absolute;
            top: 15px;
            left: 15px;
            right: 15px;
            bottom: 15px;
        
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: $color-tertiary;
        
            animation: spin 1.5s linear infinite;
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes load {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}