body {
    font-family: 'Roboto', sans-serif;
    color: $font-color;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    color: #000;
}

.menu__infos-title h1 {
    font-family: 'Shrikhand', cursive;
    font-weight: 400;
}